modules = ["nodejs-22", "web", "postgresql-16"]
run = "pnpm run build:production && pnpm start"

[[ports]]
localPort = 8080
externalPort = 80


[deployment]
deploymentTarget = "autoscale"
build = ["pnpm", "run", "build:production"]
run = ["pnpm", "run", "start"]

[nix]
channel = "stable-25_05"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
